.container {

    width: 80%;
    margin-left: 10%;
    border-radius: 5px;
}

input {
    width: 50%;

}

textarea {
    width: 50%;
    height: 10vh;

}

h5 {
    margin: 3vh 0 1vh 0;
}

button {
    margin-top: 3vh;
    background-color: rgb(75, 69, 69);
    color: white;
    padding: 5px;
    border-radius: 5px;
}


@media screen and (max-width: 768) {

    input, textarea {
        width: 80%;
    
    }
  
  } 