/* Styling for anout me page container */
.container {
    width: 50%;
    margin-left: 25%;
    margin-top: 10vh;
    margin-bottom: 200px;

}

/* Size and position of profile picture */
.profilePic {
    width: 30%;
    margin-left: 35%;
    margin-bottom: 10vh;
}


/* Margin and font weight for h3 elements  */
h3 {
    margin: 3vh 0 3vh 0;
    font-weight: bold;
}


/* Styling for p elements on about me page */
p {
    font-size: smaller;
    line-height: 1.5;
    margin-top: 3vh;
    text-align: justify;
}

/* Padding and margin for bio div */
.bio {
    padding: 0 15px 15px 15px;
    margin-bottom: 10vh;
}

/* Media settings for small screen responsiveness */
@media only screen and (max-width: 768px) {
    .card {
       right: 15%;
        display: block;
        width: 90%;
        height: 450px;
        padding-bottom: 5px;
    }

    .container {
        width: 90%;
        margin-left: 5%;
        min-height: fit-content;
    }

    .profilePic {
        width: 50%;
        margin-left: 25%;
    }
}