/* Width setting for the contact page container */
.container {

    width: 80%;
    margin-left: 10%;
    border-radius: 5px;
    margin-bottom: 200px;
    padding-left: 5%;
   
}

/* Styling for the input boxes */
input {
    width: 70%;
    padding: 5px;
    border-radius: 5px;

}

/* Styling for the textarea box */
textarea {
    width: 70%;
    height: 10vh;
    padding: 5px;
    border-radius: 5px;

}

/* Margin for error message div  */
.err {
    margin: 3vh 0 3vh 0;
}

/* Margin for h5 element  */
h6 {
    margin: 3vh 0 1vh 0;
}

/* Styling for submit button */
button {
    margin-top: 3vh;
    background-color: rgb(75, 69, 69);
    color: white;
    padding: 5px;
    border-radius: 10px;
}

