/* Global page settings */
* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
  box-sizing: border-box;
}

.Social-media {
  margin: 50px 0 50px 0;
}

