.cardContainer {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    justify-content: space-around;
  
  }
  
  .card {
    width: 20%;
    height: 50vh;
    margin-left: 8.33%;
    margin-top: 10vh;
  }
  
  .projectTitle {
    position: relative;
    width: 65%;
    background-color: black;
    color: white;
    border-radius: 0 10px 10px 0;
    padding: 10px;
    line-height: 1.5;
    opacity: 0.3;
    top: 10%;
  
  }
  
  a {
    color: white;
    list-style: none;
    text-decoration: none;
  
  }

  @media screen and (min-width: 768) {

    .cardContainer {
      display: block;
    }
    .card {
      display: block;
      width: 80%;
      margin-left: 10%;
      margin-top: 10vh;
    }
  
  } 